<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>
<body>

  <header class="container">
    <h1>My Awesome Site</h1>
      <nav>
        <ul>
          <li><a href="{{ '/' | url }}">Home</a></li>
          <li><a href="{{ '/blog/' | url }}">Blog</a></li>
          <li><a href="{{ '/all-tags/' | url }}">Tags</a></li>
          <li><a href="{{ '/about/' | url }}">About</a></li>
        </ul>
        <form id="search-form" role="search">
          <input type="search" id="search-input" placeholder="Search...">
        </form>
      </nav>
      <div id="search-results"></div>
  </header>

  <main class="container">
    {{ content | safe }}
  </main>

  <footer class="container">
    <p>&copy; 2025 Austery</p>
  </footer>

  <script src="{{ '/js/search.js' | url }}"></script>
</body>
</html>