#-------------------------------------------------
# Eleventy
#-------------------------------------------------
# The static website built by Eleventy
_site/

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

#-------------------------------------------------
# Operating System Files (macOS, Windows, Linux)
#-------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
$RECYCLE.BIN/

#-------------------------------------------------
# Visual Studio Code Editor
#-------------------------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#-------------------------------------------------
# Python Codes
#-------------------------------------------------
__pycache__/
.py[cod]
.py