---
title: "关于我"
layout: "base.njk"
---

我正在稳步前进，今天学习完成了个人网站的建立；
<ul>
 下一步：
 美化我的网站
 慢慢发布我可以共享的blog,笔记，和一些资源；

<br>
 这也是我的吐槽区
<br>
 
 这也是我的推荐区
</ul>
 常听的podcast有：
 <li><a href="https://www.youtube.com/@allinthebeer">知行小酒馆</a></li>
 忘记了那期听到了他们的声音，先听他们推出投资ABC的节目，后来又听了他们的各种关于投资和生活类的内容。很喜欢他们的口号“我们关注投资，更关注生活”。
 <li><a href="https://www.youtube.com/@LiuTalks">徒步的骑手</a></li>
 是先看这位老哥的推文，接下来看他写的书，后来又听他的播客。内容很有趣，风格也很幽默。没有戾气，讽刺国内，还有美国的政治和社会现象。真是一位娓娓道来的长者。
<li><a href="https://www.youtube.com/@lexfridman">Lex Fridman</a></li>
 差不多被他E356的访谈吸引，6个多小时的，关于房地产，诈骗，犯罪，身份冒用，的长篇访谈。和儿子一起听完了。简直不敢相信我听了他的完整的podcast，后来又听了他很多访谈。内容很有深度，涉及科技、哲学、心理学等多个领域。但很少完整听完。
 <li><a href="https://www.youtube.com/@yixi2028">一席</a></li>
 就是一席演讲的频道，内容丰富多样，涵盖科技、文化、社会等多个领域。每期演讲都很有启发性，好处就是比较简短，大概30分钟左右。同时也是我对于某些问题的思考的起点，比如衰老，死亡。有些问题都是6-7年前的演讲，今天要用AI进行验证和deepresearch一下。
 
 <li><a href="https://www.youtube.com/@TED">TED Talks</a></li>
 TED是一个全球知名的演讲平台，内容涵盖科技、教育、设计等多个领域。
 
</ul>