---
title: "所有标签"
layout: "default.njk"
permalink: "/all-tags/"
---

<div data-pagefind-ignore>

<h1>所有标签</h1>

<div class="filterable-container">
  <input type="text" class="list-filter-input" placeholder="筛选标签..." aria-label="Filter tags">
  
  <ul class="filterable-list tag-list">
    {% for tagInfo in collections.tagList %}
      <li>
        <a href="{{ ('/tags/' + tagInfo.slug + '/') | url }}" class="tag-pill">
          #{{ tagInfo.name }} ({{ tagInfo.posts.length }})
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<script src="{{ '/js/list-filter.js' | url }}" defer></script>

</div>