---
title: "所有专题"
layout: "default.njk"
permalink: "/all-projects/"
---

<div data-pagefind-ignore>

<h1>所有专题</h1>

<p>按 v7.4 PKM 专题项目组织的内容</p>

<div class="project-list">
  {% for projectInfo in collections.projectList %}
    {# [OPTIMIZATION] Use pre-computed slug #}
    <a href="{{ ('/projects/' + projectInfo.slug + '/') | url }}" class="project-pill">
      📂 {{ projectInfo.name }} ({{ projectInfo.posts.length }})
    </a>
  {% endfor %}
</div>

</div>
