---
title: "我的书架"
layout: "default.njk"
permalink: "/bookshelf/"
---

<div data-pagefind-ignore>

<h1>我的读书笔记</h1>
<p>这里是我读过的书，记录一下当时的反思，和自己的想法。</p>

<div class="card-layout">
  {# 遍历 'books' 集合里的每一本书 #}
  {%- for book in collections.books | sort(true, false, 'date') -%}
    <a href="{{ book.url | url }}" class="card">
      <article>
        {# 如果有封面图就显示 #}
        {% if book.data.cover_image %}
          <img src="{{ book.data.cover_image }}" alt="{{ book.data.title }} 的封面">
        {% endif %}
        <div class="card-content">
          <h3>{{ book.data.title }}</h3>
          {% if book.data.author %}
            <p>作者: {{ book.data.author }}</p>
          {% endif %}
          {% if book.data.rating %}
            <p>评分: {{ book.data.rating }}</p>
          {% endif %}
          {% if book.data.year %}
            <p>出版年份: {{ book.data.year }}</p>
          {% endif %}
        </div>
      </article>
    </a>
  {%- endfor -%}
</div>

</div>