---
pagination:
  data: collections.tagList
  size: 1
  alias: tagInfo
layout: "base.njk"
# 在这里，我们必须对 tagInfo.key 使用 slug 过滤器
permalink: "/tags/{{ tagInfo.key | slug }}/"
---

<h1>标签：{{ tagInfo.name }}</h1>

<ul>
  {%- for post in tagInfo.posts | reverse -%}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
  {%- endfor -%}
</ul>